@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

body {
	background-image: none !important;
	background: none !important;
	background-color: white !important;
	overflow: hidden;
	touch-action: none;
	overscroll-behavior: none;
}
